<a href="https://colab.research.google.com/github/hazedCadet/TTP-summer-23/blob/main/Intro_to_Python_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

## Boolean Operator

In [ ]:
is_day = True
is_night = False
print(is_day)

True

## Comparison Operators

In [ ]:
x, y = 9, 25
print(x == y) # does x equal y?
print(x != y) # is x not equal y?
print(x < y) # is x smaller y?
print(x > y) # is x bigger y?
print(x <= y) # is x less than or equal to y?
print(x >= y) # is x bigger than or equal to y?

False
True
True
False
True
False

## Logical Operators

### AND

In [ ]:
# is x greater than 5 AND ALSO y is less than 30?
print(x > 5 and y < 30)

True

In [ ]:
# is x greater than 10 AND ALSO y less than 30?
print(x > 10 and y < 30)

False

### OR

In [ ]:
# is x greater than 5? is y greater than 30?
print( x > 5 or y > 30)
# is x less than 5? is y less than 30?
print( x < 5 or y > 30)

True
False

### NOT

In [ ]:
print(not(x > 5))
print(not(y > 30))

False
True

In [ ]:
result = 5.3 * 9.58 >= 3.23 * 15.3
print (f"The expression is {result}")

The expression is True

In [ ]:
result = ((True and False) or (True or False))
print(f'The expression is {result}')

The expression is True!

### Identity Operator

In [ ]:
print('cat' is 'cat')
# does not like is , suggests ==
# !!!!!!!! HOWEVER, RESULT STILL RETURNED IN FIRST LINE !!!!!!!

True
True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-9-1dcfbfa9bd99>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('cat' is 'cat')

In [ ]:
print('cat' == 'cat')

True

In [ ]:
print('cat' is 'dog')

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-11-5c1f69c5251d>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('cat' is 'dog')

In [ ]:
print('cat' is not 'cat')

False

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-12-f7210912f0de>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('cat' is not 'cat')

In [ ]:
print('cat' is not 'dog')

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-13-1c3310f1d5f5>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('cat' is not 'dog')

In [ ]:
fruit = 'banana'
print('na' in fruit)
print('na' not in fruit)

True
False

# Collection Data Types

## Lists

In [ ]:
numbers = [3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
print(numbers)
print(numbers[1])
print(numbers[-1])

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

In [ ]:
names = ['Alice', 'Bob', 'Carol', 'Dan']
print(names[0])
print(names[2])

Alice
Carol

In [ ]:
print(names[0][1])

l

In [ ]:
print(names[-1])
print(names[-3])

Dan
Bob

In [ ]:
print(names[1:3])
print(names[0:4])

['Bob', 'Carol']
['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
print(names[0:-1]) # NOT INCLUSIVE

['Alice', 'Bob', 'Carol']

In [ ]:
print(names[0:]) # print to end

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
# STRINGS ARE IMMUTABLE

In [ ]:
names[1] = 'Bobby'
print(names)

['Alice', 'Bobby', 'Carol', 'Dan']

In [ ]:
# Group task: ask user for 10 items and put it into a list

items = []

for i in range(10):
  items.append(input('{}) list an item: '.format(i+1)))
print(items)

1) list an item: 1
2) list an item: 2
3) list an item: 3
4) list an item: 4
5) list an item: 5
6) list an item: 6
7) list an item: 7
8) list an item: 8
9) list an item: 9
10) list an item: 20
['1', '2', '3', '4', '5', '6', '7', '8', '9', '20']

In [ ]:
# Group task: ask user for 10 items and put it into a list

items1 = input('Enter 10 items separated by space')
print(items1.split())