<a href="https://colab.research.google.com/github/hazedCadet/TTP-summer-23/blob/main/Intro_to_Python_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

## Boolean Operator

In [ ]:
is_day = True
is_night = False
print(is_day)

True

## Comparison Operators

In [ ]:
x, y = 9, 25
print(x == y) # does x equal y?
print(x != y) # is x not equal y?
print(x < y) # is x smaller y?
print(x > y) # is x bigger y?
print(x <= y) # is x less than or equal to y?
print(x >= y) # is x bigger than or equal to y?

False
True
True
False
True
False

## Logical Operators

### AND

In [ ]:
# is x greater than 5 AND ALSO y is less than 30?
print(x > 5 and y < 30)

True

In [ ]:
# is x greater than 10 AND ALSO y less than 30?
print(x > 10 and y < 30)

False

### OR

In [ ]:
# is x greater than 5? is y greater than 30?
print( x > 5 or y > 30)
# is x less than 5? is y less than 30?
print( x < 5 or y > 30)

True
False

### NOT

In [ ]:
print(not(x > 5))
print(not(y > 30))

False
True

In [ ]:
result = 5.3 * 9.58 >= 3.23 * 15.3
print (f"The expression is {result}")

The expression is True

In [ ]:
result = ((True and False) or (True or False))
print(f'The expression is {result}')

The expression is True

## Identity Operator

In [ ]:
print('cat' is 'cat')
# does not like is , suggests ==
# !!!!!!!! HOWEVER, RESULT STILL RETURNED IN FIRST LINE !!!!!!!

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-9-61bebcc1a606>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('cat' is 'cat')

In [ ]:
print('cat' == 'cat')

True

In [ ]:
print('cat' is 'dog')

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-11-5c1f69c5251d>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('cat' is 'dog')

In [ ]:
print('cat' is not 'cat')

False

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-12-f7210912f0de>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('cat' is not 'cat')

In [ ]:
print('cat' is not 'dog')

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-13-1c3310f1d5f5>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('cat' is not 'dog')

In [ ]:
fruit = 'banana'
print('na' in fruit)
print('na' not in fruit)

True
False

# Collection Data Types

## Lists

In [ ]:
# arrays
numbers = [3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
print(numbers)
print(numbers[1])
print(numbers[-1])

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

In [ ]:
names = ['Alice', 'Bob', 'Carol', 'Dan']
print(names[0])
print(names[2])

Alice
Carol

In [ ]:
print(names[0][1])

l

In [ ]:
print(names[-1])
print(names[-3])

Dan
Bob

In [ ]:
print(names[1:3])
print(names[0:4])

['Bob', 'Carol']
['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
print(names[0:-1]) # NOT INCLUSIVE

['Alice', 'Bob', 'Carol']

In [ ]:
print(names[0:]) # print to end

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
# STRINGS ARE IMMUTABLE

In [ ]:
names[1] = 'Bobby'
print(names)

['Alice', 'Bobby', 'Carol', 'Dan']

In [ ]:
# Group task: ask user for 10 items and put it into a list

items = []

for i in range(10):
  items.append(input('{}) list an item: '.format(i+1)))
print(items)

1) list an item: 1
2) list an item: 1
3) list an item: 1
4) list an item: 1
5) list an item: 1
6) list an item: 1
7) list an item: 1
8) list an item: 1
9) list an item: 1
10) list an item: 1
['1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

In [ ]:
# Group task: ask user for 10 items and put it into a list

items1 = input('Enter 10 items separated by space:\n')
print(items1.split())

Enter 10 items separated by space1
['1']

#### Nested Lists

In [2]:
# list of lists
matrix = [[1,2,3,], [4,5,6], [7,8,9]]
# print entire list (of lists)
print(matrix)
# print 2nd element of 1st array
print(matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

In [3]:
print(matrix[2][0])

7

In [ ]:
# matriception
# matrix of matrices containing matrices
matrix = [[[1,2], [3,4,6,5,6]], [[5,6], [7,8]]]
print(matrix)
print(matrix[0][1][0])

[[[1, 2], [3, 4, 6, 5, 6]], [[5, 6], [7, 8]]]
3

In [ ]:
print(len(matrix))
print(len(matrix[0][1]))

2
5

#### List Functions

In [ ]:
pets = ['cat', 'dog', 'parrot']
print(len(pets))
print(pets)

3
['cat', 'dog', 'parrot']

In [ ]:
dir(pets)
pets.append('fish')
print(pets)

['cat', 'dog', 'parrot', 'fish']

In [ ]:
pets.insert(1,'hamster')
print(pets)

['cat', 'hamster', 'dog', 'parrot', 'fish']

In [ ]:
print('cat' in pets)

True

In [ ]:
print('tiger' in pets)

False

In [ ]:
pets.remove('fish')
print(pets)

['cat', 'hamster', 'dog', 'parrot']

In [ ]:
pets.remove(pets[3])
pets

['cat', 'hamster', 'dog']

In [ ]:
pets.pop()

'dog'

In [ ]:
pets.pop(0)

'cat'

In [ ]:
# REPOPULATE PETS

In [ ]:
pets = ['cat', 'dog', 'parrot']

In [ ]:
# del deletes specified list item, no return
del pets[1]
pets

['cat', 'parrot']

In [ ]:
# .clear() deletes list elements
pets.clear()
pets

[]

In [ ]:
# object null
pets = None

#### Iterators

In [ ]:
my_cat = 'Fluffy'
my_iterator = iter(my_cat)
# step through object elements with `next'

In [ ]:
print(next(my_iterator))
print(next(my_iterator))
print(next(my_iterator))
print(next(my_iterator))

F
l
u
f

## Tuples

In [ ]:
# immutable lists
dinner = ('chicken', 'fires', 18)
print(dinner)
print(type(dinner))

('chicken', 'fires', 18)
<class 'tuple'>

In [ ]:
breakfast = ('eggs',)
print(breakfast)
print(type(breakfast))

('eggs',)
<class 'tuple'>

In [4]:
lunch = ()
print(lunch)
print(type(lunch))

()
<class 'tuple'>

In [6]:
# accessed by index
my_desk = ('laptop', 'mouse', 'paper', 'pen')
print(my_desk[1])
print(my_desk[-1])

mouse
pen

In [7]:
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [8]:
dir(new_desk)
print(my_desk[1:])

('mouse', 'paper', 'pen')

In [15]:
my_desk = ('laptop', 'mouse', 'paper', 'pen')
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [17]:
# how to add to tuple? add tuple
new_desk = new_desk + ('pen', 'coffee')
new_desk += ('worked?',)
print(new_desk)
print(type(new_desk))

('mouse', 'paper', 'pen', 'coffee', 'pen', 'coffee', 'worked?')
<class 'tuple'>

In [18]:
new_desk = my_desk + ('coffee',)
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'coffee')
<class 'tuple'>

In [12]:
my_desk_list = list(my_desk)
my_desk_list.append('phone')
new_desk = tuple(my_desk_list)
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'phone')
<class 'tuple'>

In [19]:
# ! APPEND DOES NOT WORK ON TUPLES
new_desk.append('marker')

AttributeError: ignored

#### Tupples Use Cases

In [ ]:
db = ('Oracle', 'SQL')

In [ ]:
new_db = db + ('username', 'password')
print(new_db)
print(type(new_db))

('Oracle', 'SQL', 'username', 'password')
<class 'tuple'>

In [ ]:
friend1 = ('Alex', 25, False)
friend2 = ('Diane', 23, False)
friend3 = ('Michael', 32, True)

In [ ]:
print(friend1)
print(friend2)
print(friend3)

('Alex', 25, False)
('Diane', 23, False)
('Michael', 32, True)

In [ ]:
# tuple added to new tuple! only add from 1
#  .: replace 0!
friend2 = ('Erica',) + friend2[1:]
print(friend2)
print(type(friend2))

('Erica', 23, False)
<class 'tuple'>

#### Tuples Functions

In [20]:
my_desk = ('laptop', 'mouse', 'paper', 'pen')
print(len(my_desk))

4

In [21]:
# tuple.count(foo) - paramter: object
# returns instances of that object
digits = (3, 7, 5, 6, 3, 5, 7, 6, 3, 2, 8, 6, 3, 5)
print(digits.count(3))
print(digits.count(5))

4
3

In [23]:
# tuple.index(foo) - parameter: object
# returns index of object
print(digits.index(8))
print(digits.index(7))

10
1

## Sets

In [24]:
# sets are lists with no duplicates
days = {'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Tue', 'Tue'}
type(days)

set

In [25]:
print(days)

{'Fri', 'Tue', 'Wed', 'Mon', 'Thu'}

In [26]:
# tuples can have duplicates
days = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Tue', 'Tue')
type(days)

tuple

In [27]:
print(days)

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Tue', 'Tue')

In [ ]:
days = set(days)

In [ ]:
dir(days)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### Updating Sets

In [33]:
days = {'Mon', 'Tue', 'Wed'}
days.add('Thu')
print(days)

{'Tue', 'Thu', 'Wed', 'Mon'}

In [29]:
# set.add(foo) - paramter: object
# adds foo to set
# cannot add more than one object!
days.add(['Fri', 'Sat', 'Tue'])

TypeError: ignored

In [34]:
days.update(['Fri', 'Sat', 'Tue'])
print(days)

{'Tue', 'Wed', 'Mon', 'Sat', 'Thu', 'Fri'}

In [32]:
# interesting
# tuple.update(string)
# results in string added as list (chars)
days.update('works?')
print(days)

{'o', 'Tue', 'Wed', 'Mon', 'Sat', 's', '?', 'w', 'Thu', 'Fri', 'k', 'r'}

In [35]:
# tuple.remove(foo) paramter: obj
# remove specified object from tuple
days.remove('Mon')
print(days)

{'Tue', 'Wed', 'Sat', 'Thu', 'Fri'}

In [36]:
# pop is random do not use unless going for that
days.pop()
print(days)

{'Wed', 'Sat', 'Thu', 'Fri'}

In [ ]:
days.clear()
print(days)

set()

In [ ]:
days

set()

In [ ]:
del days
print(days)

NameError: ignored

## Dictionaries

In [39]:
# unordered collection data type of key:value pairs
my_cat = {
      'name' : 'Fluffy',
      'age' : 2,
      'color' : 'black'
}

In [ ]:
type(my_cat)

dict

In [ ]:
dir(my_cat)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# dict[key] return value
print(my_cat['name'])

Fluffy

In [ ]:
# dict.get(key) return value
print(my_cat.get('age'))

2

In [ ]:
# dict.values() return all values
print(my_cat.values())

dict_values(['Fluffy', 2, 'black'])

In [ ]:
# dict.keys() return all keys
print(my_cat.keys())

dict_keys(['name', 'age', 'color'])

In [ ]:
# dict return all key:value
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black'}

In [ ]:
print(my_cat.items())

dict_items([('name', 'Fluffy'), ('age', 2), ('color', 'black')])

In [ ]:
print('name' in my_cat)

True

In [ ]:
print('Fluffiness' in my_cat)

False

#### Updating Dictionary Functions

In [ ]:
print(my_cat)
my_cat['gender'] = 'male'
print(my_cat)

# declaring a new key for the dict
# makes a new key, requires value
# even if value=null

{'name': 'Fluffy', 'age': 2, 'color': 'black'}
{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [ ]:
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [40]:
my_cat['weight']
my_cat

KeyError: ignored

In [41]:
my_cat['weight'] = None
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black', 'weight': None}

In [42]:
# dict.popitem() pops item (could be random like tuple)
# probably is, treat as so
my_cat.popitem()
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'color': 'black'}

In [ ]:
# dict.pop() pops last key:value
my_cat.pop('color')
my_cat

{'name': 'Fluffy', 'age': 2, 'gender': 'male'}

In [43]:
# overwrite value by reassigning
my_cat['name'] = 'fluffier'
print(my_cat)

{'name': 'fluffier', 'age': 2, 'color': 'black'}

#### Nesting Dictionaries

In [ ]:
# dictionary of dictionaries
family = {

      'child1' : {
          'name' : 'Alex',
          'year' : 2004
      },
      'child2' : {
          'name' : 'Monica',
          'year' : 2000
      }
}

In [ ]:
family

{'child1': {'name': 'Alex', 'year': 2004},
 'child2': {'name': 'Monica', 'year': 2000}}