<a href="https://colab.research.google.com/github/hazedCadet/TTP-summer-23/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Strings & the `print()` function

In [ ]:
# print function, parameter: string
# displays object
print('Hello World')

Hello World

In [ ]:
# backslash escapes processing, allows next backslash to show
print('There are two types of slashes: \\ and /')

There are two types of slashes: \ and /

In [ ]:
# 3 quotes begin multiline behavior
print("""
    This is a tabbed line
  This is a regular line
  """)

    This is a tabbed line
  This is a regular line

In [ ]:
# \n : new line
# \t : tab
print('\n\tThis is a tabbed line\nThis is a regular line')

	This is a tabbed line
This is a regular line

In [ ]:
# + concatenates two objects
print('First Name' + 'Last Name')

First NameLast Name

In [ ]:
# + concatenation does not include spacing
print('First Name ' + 'Last Name')
print('First Name' + ' Last Name')

First Name Last Name
First Name Last Name

## Variables

In [3]:
# variables are developer defined
# variables are buckets for something
# always on the left
dogs = 3
cats = 'Many fluffy cats'
# assignment done with =
# right defines what variable is

NameError: ignored

In [ ]:
# if we 'code' dogs python displays definition
dogs

3

In [ ]:
cats

'Many fluffy cats'

In [ ]:
# type function , parameter : object
# displays object type
type(dogs)

int

In [ ]:
type(cats)

str

In [ ]:
print(dogs)

3

In [ ]:
hi = 'Hello'
name = 'John'
print(hi + name)
# concatenate, no space looks ugly

HelloJohn

In [ ]:
# concatenate space as well, legible now
print(hi + ' ' + name)

Hello John

In [ ]:
more_dogs = 5

In [ ]:
# variables can interact with each other
print(dogs + more_dogs)

8

In [ ]:
price = 19.99
amount = 3

In [ ]:
print(price * amount)

59.97

In [ ]:
# Variable re-assignment

In [ ]:
dogs = 'New value'
print(dogs)

New value

In [ ]:
cats, dogs, rabbits = 2, 5, 'cute'
# in order multi variable assignment
# a, b, c = 1, 2, 3

In [ ]:
print(dogs)

5

## More Strings

### Indexing

In [ ]:
greeting = 'Hello world!'

In [ ]:
# 'coding' greeting displays object
greeting

'Hello world!'

In [ ]:
# display index 4 of greeting
print(greeting[4])
# strings are arrays of chars

o

In [6]:
sentence = 'The quick brown fox jumps over the lazy dog'

In [ ]:
print(sentence[3], sentence[5], sentence[19])
# ERROR - tried to print 3, 5, and 19 indices

  u

In [ ]:
# concatenating spaces does not help
print(sentence[3] + ' ' + sentence[5] + ' ' + sentence[19])

  u

In [7]:
print(sentence)
print('index 3: ' + sentence[3])
print('index 5: ' + sentence[5])
print('index 19: ' + sentence[19])
# 3 + 5 + 19 = 27
print('index 27: ' + sentence[27])

The quick brown fox jumps over the lazy dog
index 3:
index 5: u
index 19:
index 27: v

In [20]:
print('index 3, 5: ' + sentence[3], sentence[5])
print('index 3, 5: ' + sentence[3] + sentence[5])
# none work

# ANSWER: LIST COMPREHENSIONS
print([sentence[i] for i in [3,5,19]])
# same as previous

index 3, 5:   u
index 3, 5:  u
[' ', 'u', ' ']

In [21]:
# len function , parameter : object
# returns number of units in object
len(sentence)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

43

In [ ]:
sentence[42]

'g'

In [ ]:
# [-1] - returns last unit of object
sentence[-1]

'g'

### String Formatting

In [ ]:
price = 59.99

In [ ]:
message = 'The product costs ' + 59.99 + ' dollars'

TypeError: ignored

In [ ]:
# casting : type(object)
message = 'The product costs ' + str(price) + ' dollars'

In [ ]:
message

'The product costs 59.99 dollars'

#### The .format() method

In [ ]:
# string with {} as variable placeholder.format(variable)
msg = 'The product costs {} dollars'.format(price)

In [ ]:
msg

'The product costs 59.99 dollars'

In [ ]:
amount = 3
total = amount * price

In [ ]:
# define string with {}
msg2 = 'For {} products at the price of {}, the total will be : {}'
print(msg2.format(amount, price, total))
# print string.format(vars) as previously
# vars will be displayed in the order they are passed

In [ ]:
# define string with {} but with hardcoded values
msg3 = 'For {2} products at the price of {0}, the total will be : {1}'
# no arguments, hardcoded values show
msg3
# arguments, passed by index
# in this case: amount=0, price=1, total=2
print(msg3.format(amount, price, total))
# will display as: total, amount, price

In [ ]:
print(msg3.format(price, total, amount))

For 3 products at the price of 59.99, the total will be : 179.97

#### The f-string Method

In [ ]:
price = 19.99
items = 3

In [ ]:
# preced quote with f
# use variable in string
msg = f'This indiviual product is {price}'

In [ ]:
msg

'This indiviual product is 19.99'

In [ ]:
msg2 = f'The total for your purchase is {price*items}'

In [ ]:
msg2

'For {} products at the price of {}, the total will be : {}'

#### String Functions

In [ ]:
# str(), print(), len()

In [ ]:
dir(msg)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
msg = 'Hello my name is Bob'

In [ ]:
# split function : parameter : char
# returns list with specified parameter as break points non inclusive
words = msg.split('')

ValueError: ignored

In [ ]:
# requires a char
words = msg.split(' ')

In [ ]:
print(words)

['Hello', 'my', 'name', 'is', 'Bob']

In [ ]:
elements = msg.split('e')

In [ ]:
print(elements)

['H', 'llo my nam', ' is Bob']

In [ ]:
# upper() -  param : none
# returns string with all char uppercase
print(msg.upper())

HELLO MY NAME IS BOB

In [ ]:
# lower() - param : none
# returns string with all char lowercase
print(msg.lower())

hello my name is bob

#### The input() Method

In [ ]:
# get user input
# string will be displayed before getting input
data = input('What is your name: ')
print(f'Hello {data}, hope your day is great!')

What is your name: Jen
Hello Jen, hope your day is great!

In [ ]:
print(data)

Bob

In [ ]:
num = input('enter a number: ')
# input is always string
# for numbers we must typecaste as desired datatype
print(num)

enter a number: 3
3

In [ ]:
# num is currently a string
type(num)

str

In [ ]:
# to get a number

In [ ]:
# typecaste string to int
num = int(input('enter a number: '))
print(num)
type(num)

enter a number: 3
3

int

In [ ]:
# Group Task: Create a script that greets user

name = input('Please enter your name: ')
print('Hello {}, how old are you?'.format(name))
age = int(input())
if age < 18:
  print(f'{name} you cannot vote')
else:
  print(f'{name} you can vote')

Please enter your name: Bob
Hello Bob, how old are you?
22
Bob you can vote

## Numbers

In [ ]:
cats = 7
money = -35.5
x = 2+5j
message = 'Hello Alice!'

In [ ]:
print(type(cats))
print(type(money))
print(type(x))
print(type(message))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
shoes = 5
print(f'I own {shoes} pairs of shoes')
print(type(shoes))

I own 5 pairs of shoes
<class 'int'>

### Conversions

#### Type Casting

In [ ]:
# how to convert int to float, string to int?

In [ ]:
value = 3.5
convert = int(value)
print(convert)
print(type(convert))

3
<class 'int'>

In [ ]:
number = int('25')
print(number)
print(type(number))

25
<class 'int'>

In [ ]:
num2 = 'twenty'
print(int(num2))
# unable to typecaste string as int

ValueError: ignored

In [ ]:
value = 78
convert = float(value)
print(convert)
print(type(convert))
convert = float('56.48')
print(convert)
print(type(convert))

78.0
<class 'float'>
56.48
<class 'float'>

In [ ]:
value = 38
convert = complex(value)
print(convert)
print(type(convert))

(38+0j)
<class 'complex'>

In [ ]:
value = 28.4875
convert = str(value)
print(convert)
print(type(convert))

28.4875
<class 'str'>

In [ ]:
value = '5j'
convert = int(value)
print(convert)
print(type(convert))
# unable to typecaste string as int

ValueError: ignored

In [22]:
data = input('please enter a value: ')
print(int(data))
print(float(data))
print(complex(data))
print(str(data))
print(data)
# data variable remains untouched!

please enter a value: 42
42
42.0
(42+0j)
42
42

In [ ]:
pi = 3.14159
print(int(pi))
print(float(pi))
print(complex(pi))
print(str(pi))

3
3.14159
(3.14159+0j)
3.14159

### Operations

#### Modulus Operator

In [ ]:
# foo/bar returns result of division
print(259/4)
print(259%4)
# foo%bar returns remainder

64.75
3

#### The Power or Exponent Operator

In [ ]:
# ** returns foo^bar
print(9**4)

6561

In [ ]:
2**2

4

#### The Floor Operator

In [ ]:
# foo//bar returns rounded down result of division
print(9//4)
# there is no ceiling equivalent...

2

#### Assignment Operators

In [ ]:
x = 9 # assign
x += 4 # reassign x to x plus 4
x -= 4 # reassign x to x minus 4
x *= 4 # reassign x to x times 4
x /= 4 # reassign x to x divided by 4

In [ ]:
# Group Task: Ask for 2 numbers, return + , - , x ,  of the numbers


num1 = float(input('Enter a number: '))
num2 = float(input('Enter a second number: '))

print('{} + {} = {}'.format(num1, num2, num1+num2))
print('{} - {} = {}'.format(num1, num2, num1-num2))
print('{} x {} = {}'.format(num1, num2, num1*num2))
print('{}  {} = {}'.format(num1, num2, num1/num2))

Enter a number: 18
Enter a second number: 12
18.0 + 12.0 = 30.0
18.0 - 12.0 = 6.0
18.0 x 12.0 = 216.0
18.0  12.0 = 1.5