<a href="https://colab.research.google.com/github/hazedCadet/TTP-summer-23/blob/main/Intro_to_Python_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditionals

## If Statement

In [ ]:
night = True

In [ ]:
type(night)

bool

In [ ]:
# if true:
#     then
# else:
#     then
if night:
  print('It\'s night. Sleeping')
else:
  print('It\'s day. Being active')
print('Out of the if statement')

It's night. Sleeping
Out of the if statement

In [ ]:
night = False
if night:
  print('It\'s night. Sleeping')
else:
  print('It\'s day. Being active')
print('Out of the if statement')

It's day. Being active
Out of the if statement

In [ ]:
a, b, c = 100, 50, 20
if a > b and b > c:
  print(f'{a} greater than {c}')

100 greater than 20

In [ ]:
data = input('Do you have the keys? (yes/no)')
if data.lower() == 'yes':
  print('Starting the car')
else:
  print('Cannot statr the car without the keys')

In [ ]:
data = input('Please enter the curent hour (0-23): ')
hour = int(data)
if hour < 12:
  print(f'It\'s {hour} am')
else:
  print(f'It\'s {hour-12} pm')

### Nested if Statements

In [ ]:
pet_store = ['cat', 'dog', 'rabbit']
has_cat_food = True

if 'cat' in pet_store:
  print('Alright! They have a cat for me')

  if has_cat_food:
    print('Buying cat and cat food')
  else:
    print('Buying cat only')
else:
    print('Ask store to get cat')

#### More on indentation

#### If-Elif-Else

In [ ]:
age = int(input("Please enter your age: "))

if age < 18:
    print("You are a minor")
elif age < 21:
    print("You are an adult but cannot drink alcohol")
elif age < 35:
    print("You are younger than 35")
else:
    print("You are an adult")

print("If statement finished")

#### Shorthand if statments

In [ ]:
a, b, = 50, 20
if a > b : print('a > b')
# same line syntax

In [ ]:
# TRUE-do if condition else False-do
print('a > b') if a > b else print('b > a')

In [ ]:
max = a if a > b else b
print(max)

#### The pass keyword

In [ ]:
has_cat = False

if has_cat:
  pass
else:
  print('You should get a cat')

In [3]:
# pass is placeholder
has_dog = not True

if has_dog:
  print('Awesome!')
else:
  pass
  print("You should get one")

You should get one

#### Practice:

In [ ]:
import random

nb = random.randint(0,100)
print(f'Number {nb} is even') if nb%2==0 else print(f'Number {nb} is odd')

In [ ]:
numb = int(input('Please enter a number from 0-100: '))
print(f'Number {numb} is even') if numb%2==0 else print(f'Number {numb} is odd')

## For Loop

In [4]:
# for foo in bar:
# initiate for loop: for
# declare iterator: foo
# for loop syntax: in
# object to be iterated: bar

animals = ['cat', 'dog', 'horse']
for animal in animals:
    print(f"There is a {animal}")

There is a cat
There is a dog
There is a horse

In [5]:
for letter in 'pineapple':
    print(letter.upper())
# char.upper pineapple

P
I
N
E
A
P
P
L
E

In [6]:
# ranged for loop
# range(foo, bar, baz)
# foo: start number
# optional! bar: end number (not inclusive)
# if bar not present, foo is considered end still not inclusive
# optional! baz: number by which to iterate
# if baz not present, always iterate by 1
for number in range(0, 20, 2):
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number

In [7]:
for number in range(0, 20, 2):
    print(f"{number} is an even number")
    if number == 10:
        print("On ho! Not 10")
        break
print("Next steps in out code")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
On ho! Not 10
Next steps in out code

In [8]:
for number in range(0, 20, 2):
    if number == 10:
        print("We are not executing 10")
        continue
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
We are not executing 10
12 is an even number
14 is an even number
16 is an even number
18 is an even number

#### Practice

In [9]:
for i in range(0, 10):
    print("Hello for loop")

Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop

In [10]:
sum = 0
for number in range(0, 101):
    if number % 10 == 0:
        continue
    sum += number
print(f"The sum is {sum}")

The sum is 4500

In [11]:
customers = {
    'Alice': 4,
    'Judy': 8,
    'Anna': 6
}
for customer in customers:
    print("{} has made {} purchases".format(customer, customers[customer]))

Alice has made 4 purchases
Judy has made 8 purchases
Anna has made 6 purchases

#### Using `else` with `for` Loops

In [13]:
numbers1 = [1, 5, 9, 5, 7, 3]
numbers2 = [2, 8, 6, 2, 4, 10]

for number in numbers2:
    if number % 2 == 0:
        print("List contains at least 1 even number")
        break
else:
    print("The list does not contain any even numbers")

List contains at least 1 even number

In [14]:
# nested for loops
# inner loop finished before outer loop continues
# every loop
for x in range(6):
    for y in range(6):
        print(f"{x} * {y} = {x * y}")

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [15]:
size = 5
for x in range(size):
    for y in range(size):
        print(f"{x},{y}\t\t", end='')
    print()

0,0		0,1		0,2		0,3		0,4
1,0		1,1		1,2		1,3		1,4
2,0		2,1		2,2		2,3		2,4
3,0		3,1		3,2		3,3		3,4
4,0		4,1		4,2		4,3		4,4

In [16]:
for x in range(size):
    for y in range(size):
        if (x + y) % 2:
            print("\U0001F600\t", end='')
        else:
            print("\U0001F60D\t", end='')
    print()

😍	😀	😍	😀	😍
😀	😍	😀	😍	😀
😍	😀	😍	😀	😍
😀	😍	😀	😍	😀
😍	😀	😍	😀	😍

## The `while` Loop

In [17]:
i = 0
while i < 6:
    print(i)
    i += 1

# requires declared variable as iterator
# while iterator condition:
#           do
# MUST update iterator within loop
# MUST eventually null condition to continue loop

0
1
2
3
4
5

In [18]:
puzzle_pieces = 20
pieces_placed = 0

while pieces_placed < puzzle_pieces:
    pieces_placed += 1
    print(f"Piece {pieces_placed} placed")

Piece 1 placed
Piece 2 placed
Piece 3 placed
Piece 4 placed
Piece 5 placed
Piece 6 placed
Piece 7 placed
Piece 8 placed
Piece 9 placed
Piece 10 placed
Piece 11 placed
Piece 12 placed
Piece 13 placed
Piece 14 placed
Piece 15 placed
Piece 16 placed
Piece 17 placed
Piece 18 placed
Piece 19 placed
Piece 20 placed

#### Using `else` with `while` Loops

In [19]:
i = 1
while i < 10:
    i += 3
    if i % 2 == 0:
        print("Sequence contains an even number")
        break
else:
    print("Sequence does not contain an even number")

# as is this seems faulty

# else probaly goes with if inside

Sequence contains an even number

#### A bit of Practice

In [22]:
i = 0
while i < 10:
    i += 1
    print(f"{i}. Hello while loop")

1. Hello while loop
2. Hello while loop
3. Hello while loop
4. Hello while loop
5. Hello while loop
6. Hello while loop
7. Hello while loop
8. Hello while loop
9. Hello while loop
10. Hello while loop

In [23]:
cats = ['Tigger', 'Smokey', 'Sassy', 'Patch', 'Sammy']
i = 0
while i < len(cats):
    print(f"Hello {cats[i]}")
    i += 1

Hello Tigger
Hello Smokey
Hello Sassy
Hello Patch
Hello Sammy

In [ ]:
number = int(input("Please enter a number:\n"))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(f"{number}! = {factorial}")

In [ ]:
i = 0
while True:
    print(i)
    i += 1
    if i >= 10:
        break

# while loop used sans iterator
# while condition:
#       do
# need to null condition somehow...